body {
    text-align: center;
    font-family: Verdana, sans-serif;
    background-color: black;
    color: white;
}

.link {
    color: aquamarine;
    font-size: 16px;
}

header h1 {
    font-size: 50px;
    color: white;
    text-align: center;
    font-weight: normal;
}

.description {
    color: white;
    font-size: 21px;
    margin: 25px;
}

.secondary-header {
    color: white;
    font-weight: 300;
    font-size: 42px;
    margin: 25px;
}

video, img {
    display: block;
    margin: 25px auto;
}

footer {
    text-align: right;
    color: gray;
    margin: 20px;
}

/*

h1 {
    font-size: 50px;
    font-weight: normal;
}

h2 {
    font-size: 42px;
    font-weight: 300;
}

p {
    color: Gray;
    font-size: 21px;
}

.footer {
    text-align: right;
}  */